<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>

    @{
        <div class="Navbar">
            @if( @Context.Session.GetString("UserName") !=""){
            <h1>Welcome @Context.Session.GetString("UserName") !! </h1>
            <form asp-action="Cleaner" method="POST"><button class="buttonLogout">Log Out</button> </form>
        }else{

        }</div>
       
        
    }

    
    <div class="Container">
        <h1>@Context.Session.GetInt32("Number")</h1>
    <div class="containerFirst">
    <form asp-action="Plus"><button class="buttonPlus">+1</button></form>
    <form asp-action="Minus"><button class="buttonMinus">-1</button></form>
   
    </div>
    <div class="containerSecond">
    <form asp-action="Multi"><button class="buttonMulti">X2</button></form>
    <form asp-action="Randx"><button class="buttonRandom">+ Random</button></form>
    </div>
    </div>
  
    
    
</body>
</html>